@import url("https://fonts.googleapis.com/css2?family=Inspiration&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* fonts::::  Montserrat ''''Inspiration    Rochester */
@import url("https://fonts.googleapis.com/css2?family=Rochester&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}
a {
  text-decoration: none;

 
}
body {

  background: 
  radial-gradient(circle 357px at 30px 271px, rgba(112, 128, 144, 0.8) 0%, transparent 70%), 
  radial-gradient(circle 357px at 691px 38px, rgba(247, 250, 252, 0.9) 0%, transparent 70%), 
  radial-gradient(circle 357px at 764px 585px, rgba(112, 128, 144, 0.8) 0%, transparent 70%), 
  radial-gradient(circle 357px at 658px 374px, rgba(112, 128, 144, 0.8) 0%, transparent 70%), 
  radial-gradient(circle 357px at 289px 448px, rgba(247, 250, 252, 0.9) 0%, transparent 70%), 
  radial-gradient(circle 357px at 837px 371px, rgba(112, 128, 144, 0.8) 0%, transparent 70%), 
  linear-gradient(to bottom right, #F7FAFC, #708090);
}

/* -------------------nav---------------------------- */
nav {
  color:#ccd6f6;
  background-color: #f7fafcd2;

  position: fixed;
  width: 100%;
  z-index: 20;

  display: flex;
  justify-content: end;
  align-items: center;
  height: 60px;
  backdrop-filter: blur(3px);
  /* box-shadow: #fffdf280 2px 0px 7px; */
}

.logo {
  /* margin-left:20px ; */
  height:65px;
  
  display: block;
  margin-right: auto;
  /* background-color: #000000d7; */
  transition: 300ms ease-in-out;

}
.logo :hover{
  scale: 0.94;
}



nav li {
  display: inline;
  margin-right: 40px;

  font-weight: 600;
  transition: 0.5s ease;
}
nav li a{
  color: #540000;
  padding:5px;
  /* overflow: hidden; */
  transition: 500ms;
  position: relative;

}
nav li a::after{
  content:"";
  position: absolute;
  top:0;
  left: 0;
  z-index:-1;
  height:100%;
  width: 100%;
  background-color:#b44646;
  
  transition:  500ms ease-out ;
  transform: scaleX(0);
  transform-origin: left;
}
nav li a:hover::after {
  transform: scaleX(1);
  transform-origin: left ;
}

nav button a{
  color:#470000;

}
nav button {
  margin-right: 20px;
  padding: 8px 25px;
  border-radius: 20px;
  border: 1px #060b0c solid;
  font-weight: 700;
  color:#470000;
  transition: 500ms;
  background-color: #b44646;

}
nav button:hover {
  border-radius: 0px;
  background-color: #eb8787;
}


header {
  overflow: hidden;
  height:100vh;
  /* min-height: fit-content; */
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

/* ----------hero li blk7l -------------*/

/* svg code heder background !!!!!!!!!!!!!! */


@keyframes slide {
  0% {
    transform: translateX(100%);
    opacity:0.7;
    box-shadow: none;
  }
  100% {
    transform: translateX(0);
  }
}
.hero-text {
   width: 100%;
   height: 90%;
  display: flex; 
  flex-direction: column;
  justify-content: space-evenly;

}
.hero H1 {
  font-size: clamp(70px,6vw,100px);
  /* font-size: 90px; */
  /* font-size:5vw ; */
  font-weight: 600;
  line-height: 57px;
}

.hero h1 span {
  font-size:120%;
  color:#b44646 ;
  text-shadow: #f70d0dad 0px 0px 420px ;

}

.hero p {
  margin-left: 5%;
  font-weight: 500;
  font-size: 18px;
  width:clamp( 300px, 550px ,70%);
  text-align: justify;
  z-index: 10;

  border-left: 5px #b44646 solid;
  padding-left: 10px;
  text-shadow: #000000e3 2px 2px 5px;
}
.svg-card{
  width:40%;
  position: absolute;
  bottom: 0%;
  right:8%;
  z-index:0;
}
/* ---------side cntact------------- */
.sidec {
  position: absolute;
  top: 50%;
  right:2%;
  transform: translate( 0% , -50%);
  background-color: #f3b3b3;

  height: 40%;
  width: 50px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

  border-radius: 20px;
  transition: 500ms ease-out ;
  box-shadow: #021027c5   0px 0px 20px 10px; 
}
.sidec:hover {
  height: 45%;
  transition: 300ms ease-out ;
  background-color:#f8cece;

}

.sidec a {
  color:#021027 ;
  transition:  800ms ease-out;
  font-size: 28px;
}
.sidec a:hover {
  transition: 300ms ease-out ;
  scale: 1.2;
}
/* ---------------------scroll down------------------- */
.scroll {
  position: absolute;
  top:85%;
  left: 50%;
  transform: translate(-50%, 50%);

  
  text-align: center;
  color: #540000;
  

}
.scroll h3 {

  font-size: 25px;
  font-weight: 600;
  text-shadow: 0px 4px 5px #540000cb;
  padding: 5px;

}
.scroll i {
  line-height: 10px;
  display: block;
  font-size: 30px;
  
  animation: down  ease-in 800ms infinite alternate;
  color: #540000;
  transform: translateY(0px);

}
@keyframes down{
  100% {
    transform: translateY(10px);
    color: #720505;
  }
}



/* --------------------------about---------------------- */

.about-me {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh;
  width: 100vw;
  padding:40px ;

  background-image: url(/images/about-bg.svg)  ;
  background-size: cover ;
  background-position: center ;
  background-repeat: no-repeat;
  color:#200202  ;




}

.about-h2{
  text-align: center;
  font-size:50px;
  padding:40px 0px;
  color: #540000 ;
  position: relative;
}
.about-h2::after{

  content: "About me";
  position: absolute;
  bottom: 40px;
  left:50%;
  z-index:-1;
   transform: translate(-50%);
 
  font-size:7vw;
  color: #fcf7f74d;
}
.about-cards{
  /* background-color: #83323296; */
  max-width: 1400px;

  margin: 0px auto;
  

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:30px;
 
}
.about-cards>div{
  flex-grow: 1;
  font-weight: 500;
  backdrop-filter: blur(6px);
  background-color:#f3b3b359 ;
}
@keyframes popup{
  0%{
    opacity:0;
    scale:0.8;

  }
  100%{
    opacity:1;
  }
}
@keyframes slidelift{
  0%{

     transform: translateX(-50%);
    opacity:0.5;



  }
  100%{
    transform: translateX(0px);
    opacity:1;

  }
}

.profile{
 flex-basis:60%;
 padding:3%;
 line-height:25px;
 text-align: justify;
 font-size:18px;
 
 border: solid 1px;
 position: relative;

 animation: slidelift  linear;
 animation-timeline: view();
 animation-range: entry 0% cover 25%;
}

.h-svg{
  color: #540000;
  position: absolute;
  top:-20px;
  left: -20px;
  width:50px; 
}
.c2-svg{
  color: #2c0303ea;
  position: absolute;
  right:-45px;
  bottom:-45px;
  /* transform: rotate(-35deg); */
  width:60px;

}

.profile strong{
  color: #540000 ;
  font-size: 20px;
}
.Education{
  flex-basis:30%;
  padding: 3% 2% ;
  min-width:300px;
  border: solid 1px #333333;

  position: relative;
  animation: slidelift  linear;
  animation-timeline: view();
  animation-range: entry 0% cover 25%;
}
.Education>svg{
  fill: #b44646;
  color:#0e0101;
  position: absolute;
  width:40px;
  top: -18px;
  right: -18px;
  transform: rotate(35deg);
}

.Education h3{
  writing-mode: vertical-lr;
  text-align: center;
  font-size:22px;

  height: 100%;
  padding:0px 15px;
  
  position: absolute;
  top: 0;
  left: 0;
  rotate:180deg;

  color: #540000 ;
  background-color: #b44646 ;
}
.Education .Education-info{
  list-style: none;
  margin-left:60px;
  height: 100%;
  color: #540000 ;

}
.line{
  margin: 15px auto;
  background-color: #b44646;
  height:2px;
  width:90%;
}
.Education-info div h4{
  margin-bottom: 5px;
}
.Education-info div span{
  display: block;
  font-style: italic;
  font-weight: 600;
  font-size: 13px;
  color: #b44646;
  margin-top:4px;
  text-align: right;
}
.Experience{
  flex-basis:35%;
  min-width:400px;
  
  text-align: justify;
  font-weight: 550;
  
  position: relative;
  border: 1px solid #333333;

  animation: slidelift  linear;
  animation-timeline: view();
  animation-range: entry 0% cover 25%;
  
}
.Experience>svg{
  fill: #b44646;
  color:#0e0101;
  position: absolute;
  width:40px;
  top: -20px;
  right: -20px;
  z-index:2;
  /* transform: rotate(35deg); */
}
.Experience h3{
  writing-mode: vertical-lr;
  text-align: center;
  font-size:22px;

  height: 100%;
  padding:0px 15px;
  
  position: absolute;
  top: 0;
  left: 0;
  rotate:180deg;

  color: #540000 ;
  background-color: #b44646  ;
}
.Experience p{
  margin-left:60px;
  padding: 3%;
  /* max-width: 650px; */
  font-size: 18px;
}
.Skills{
  flex-basis:55%;
  border: 1px solid ;

  animation: slidelift linear;
  animation-timeline: view();
  animation-range: entry 0% cover 25%;
  
}
.Skills>svg{
  fill: #b44646;
  color:#0e0101;
  position: absolute;
  width:46px;
  top: -23px;
  right: -23px;
  transform: rotate(35deg);
}
.Skills   h3{
  text-align: center;
  font-size: 25px;
  padding:15px 0px;

  color: #540000 ;
  background-color: #b44646 ;
}
.Skills .skills-cards{
  display: flex;
  flex-wrap: wrap;
  gap:20px 50px;

  padding:4%;
  align-items: center;

}
.Skills .skills-cards>div{
  flex-basis:40%;
  flex-grow: 1;
  min-width:300px;
} 
.skills-cards .skill-name{
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  margin-bottom:2px;

}
.bar {
  width: 100%;
  height:10px;

  border: 1px solid ;
  border-radius:6px;
  background-color: #f3b3b3;
  position: relative;
}
/* -------------------bar widths--------------------- */
.bar-per{
  position: absolute;
  border-radius:5px;
  height:100%;
  background-color: #540000 ;
  left: 0px;
}
.bar-per.html{
  width:85% ;
}
.bar-per.css{
  width:80%;
}
.bar-per.git{
  width:70%;
}
.bar-per.js{
  width:50%;
}
/* ---------------------------------------- */

/* -------------------persents--------------------- */
.bar-per::before{
  position: absolute;
  bottom: 100%;
  right: 0px;
  z-index:1;
  translate: 50% -50%;

  background-color: #b44646 ;
  color: #540001;
  
  font-size:10px;
  font-weight: 800;
  padding: 2px 8px;
  border-radius: 3px;
}
.bar-per.html::before{
  content:"85%";
}
.bar-per.css::before{
  content:"80%";
}
.bar-per.git::before{
  content:"70%";
}
.bar-per.js::before{
  content:"50%";
}
/* ---------------------------------------- */

.bar-per::after{
 content:"" ;
 height:12px;
 width:12px;
 position: absolute;
 background-color: #b44646;
 translate: 50% -50%;
 bottom: 100%;
 right: 0px;
 rotate:45deg;


}
.softskills{
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  font-style: italic;
  color: #540000 ;
}













/* --------------projicts---------------------- */
.projects {
  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  background-image: url(/images/projects-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;

  padding: 40px 30px;
  min-height: 100vh;
  width: 100%;
}
.projects>h2 {
  font-weight: 600;
  font-size:50px;
  padding: 40px 0px ;
  color: #f3b3b3 ;
  position: relative;
  z-index:1;

}
.projects h2::after{

  content: "Projects";
  position: absolute;
  bottom: 40px;
  left:50%;
  z-index:-1;
   transform: translate(-50%);
  font-size:7vw;
  color: #47000052;
}
.cards{
 
    /* background-color:#c4eaf2dc; */
    width:clamp(150px, 980px, 90%);
    /* margin:auto; */
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
    grid-template-rows: repeat(auto,240px);
    place-items: center;
    gap:50px ;
    /* padding: 20px; */
}
.cards div img{
    width: 100%;
    display: block;
    object-fit:cover;
    filter:brightness();
}
.cards>div{
    position: relative;
    border: 4px solid #b44646    ;
    
    
    overflow: hidden;
    border-radius:5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    max-width: 400px;

    animation: popup  linear ;
    animation-timeline: view();
    animation-range: entry 0% cover 25%;

}
.cards div .cardinfo{
    display: flex;
    flex-direction: column;
    /* padding:0px 10px; */

    height:100%;
    width:100%;
    
    color: #270202;
    background-color: #f3b3b3    ;
    box-shadow:0px -5px 50px #0000008a;

    
    position: absolute;
    bottom:-80%;
    left:0px;
    /* border-radius:14px; */
    transition: 700ms ease-in-out ;
}
.cards>div:hover .cardinfo{
    bottom:0;
    transition-delay: 300ms;
    background-color: #b44646af     ;
    backdrop-filter: blur(8px);

}

.cardinfo h3{
    color: #270202;
    padding:7% 20px ;
    width:fit-content;
    position:relative;
    background-color: #b44646 ;
    width: 100%;

}
.cardinfo h3::after{
    content: "";
    position:absolute;
    bottom: 0px;
    left:0px;

    width:300px;
    height:4px;
    
    background-color: #540000e0 ;
    transform: translate(-100%);
    transition: 700ms ease ; 
}
.cards>div:hover .cardinfo h3:after{
    transform: translate(-0%);
    transition-delay:650ms ;
    box-shadow: 0px 5px 10px #470000;
    
  
}

.cardinfo p{
     width:80%;
     margin: auto;
     font-weight: 560;
     font-style: italic;
     border-left: solid 2px #540000  ;
     padding-left:10px;
}
.cardinfo a{
    margin-top: auto;
    margin-bottom: 15%;
    padding:7px 10px;
    box-shadow: #00000075 0px 0px 10px ;
    background-color: #270202 ;
    color: #b44646  ;
    font-weight: 600;

    transform: translateX(110%);
    transition: transform  700ms ease-in-out , letter-spacing 300ms ease-in ;

}
.cards>div:hover .cardinfo a{
    transform: translateX(40%);
    transition-delay: 1s ;
}
.cardinfo a:hover{
  letter-spacing:1px;
  transition-delay: 0s !important;
  
  
}
.cardinfo a i{
    transition: 300ms ease-in ;

}
.cardinfo a:hover i{
    padding-left:10px;
    
}









/* ```````````````````````````````````````````````````````````````````````````````` */
.contact {
   /* background-color: #b3e1f3; */
   background: 
   linear-gradient(to bottom, 
     #f3b3b3 0%,         
     #d8a1a1 40%,    
     #d98d8d 70%,     
     #d48080 90%,     
     #800909b4 100%);   

     padding: 160px 30px 20px;
 
 


  width:100%;
  min-height:100vh;
  display:flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  
}

.contact> *{
  background-color: #200202;
  color: #f3b3b3;
  min-height:500px;
  border-radius: 5px;
  
  animation: popup  linear ;
  animation-timeline: view();
  animation-range: entry -20% cover 30%;
}

  

.contact-svg{

  width:25%;
  min-width:150px;
  position: absolute;
  bottom: 100%;
  left:80%;
  transform: translate(-50%,40%);

}
.clink {
  position: relative;

  flex-grow:1;

  flex-basis:55%;
  padding:20px 20px 40px;
  box-shadow: #1d0101a9 5px 5px 20px 5px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;



}

.clink > h2{
  margin-right:auto;
  font-size: 35px;
  font-weight: 700;
  /* color: #000000d7; */
}
.clink > p{
  margin-bottom:20px;

  max-width: 700px;

  font-weight: 400;
  font-size:17px;
  font-style: italic;
}
.clink > div{
  width:100%;
  /* padding:0px 40px; */
}
.contact .clink  a {
  display: block;
  box-shadow: #1d0101 2px 2px 20px;
  max-width:400px;
  margin-bottom:15px;
  margin: 15px auto;

}


.contact a .icone-link{
  background-color: #f2c4c4d8;
  color: #270202;
  display: flex;
  align-items: center; 
  transition: 350ms ease-in-out;
}

.contact a .icone-link i{
  flex-shrink: 0;
  display: inline;
  font-size: 25px;
  line-height:50px;
  width:50px;
  text-align: center;
  background-color: #b44646a8 ;
  color: #270202;
  transition: 350ms ease-in-out;

}
.contact .clink  a:hover .icone-link {
  background-color: #f2c4c4;
  transform: translateX(-15px);
}
.contact .clink  a:hover .icone-link i{
  background-color: #a13434    ;
}
.contact a .icone-link p{
  line-height:40px;
  font-size:17px;
  font-weight: 500;
  padding:0px 10px;
}



.form {
  box-shadow: #1d0101a9 5px 5px 20px 5px;
  
  flex-grow:1;
  flex-basis: 30%;
  min-width:350px;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:40px 10px;

  gap: 25px;

 
}


.form * {
 font-weight:600 ;
  
  padding: 12px 8px;

  outline: none;
  border: none;

  width:80%;
 
}
.form h3 {
  text-align: center;
  margin-bottom:20px;
  color:#f3b3b6;
  font-size: 35px;
  font-weight: 600;
  padding-bottom: 10px;
  text-shadow: 0px -10px 7px #0000006b;
}

::placeholder{
  color:#270202  ;
  font-weight: 600;
 
}
.form input {
  border-radius: 10px;
  background: #f3b3b3;
  transition: 300ms;
  box-shadow: 0px 0px 5px #000000a4;
}
.form input:focus,     
.form textarea:focus{
  background:#ffffff;
}


.form textarea {
  border-radius: 10px;
  background: #f3b3b3;
  resize: vertical;
  box-shadow: 0px 0px 5px #000000a4;



  min-height:100px;
  max-height: 200px;
  font-size: 15px;
 

}

.form button {
  
  width:40%;
  font-size: 17px;
  font-weight: 700;
  color: #1d0101;
  box-shadow:0px 10px 10px #1d0101;
  background-color: #b44646 ;
  border-radius: 10px;
  transition: 300ms ease-out;
}
.form button:hover{
  border-radius: 0px;
  background-color: #eb8787;
  padding-left:30px;
}
.form button i{
  color: #1d0101;
  display: inline;
  font-size:15px;
  transition: 300ms ease-out;
  
}
.form button:hover i{
  padding-left: 15px;
}


footer{
background-color: #160101;
color:#cccbd1 ;
padding:10px;
font-size:13px;
font-style: italic;
text-align: center;
}




/* -----------------------------media q---------------- */
/* @media (max-width:820px){
  nav {
    color: #05080d;
    position: fixed;
    width: 100%;
    z-index: 10;
  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c4eaf2d5;
    height: 60px;
    backdrop-filter: blur(3px);
   
  }

  .logo {
    display: none;
    margin-right: auto;
    margin-bottom: 9px;
    margin-left: 20px;
    font-family: Inspiration;
    font-size: 45px;
    transition: 0.4s ease;
    color: #05080d;

  }
  nav li {
    display: inline;
    

    margin-right: 20px;
    font-weight: 550;
    transition: 0.5s ease;
  }
  nav button {

    margin-right: 10px;

    padding: 8px 10px;

    border-radius: 8px;
    border: 1px #060b0c solid;
  
    font-weight: 700;

    color: #05080d;
  }
  nav button:hover {
    box-shadow: #33cdf096 0px -30px 36px -28px inset;
  
  }
  .hero {
    margin:0px auto;
    margin-bottom:auto;
    width: 85%;
    height: 80%;
  
    border-radius: 0px 0px 40px 40px;
    padding: 25px 20px;
  
    background-color: #05080d;
    box-shadow: #000000e1 0px 00px 25px;
    color: #c4eaf2;
    
    position: relative;
  
  }
  .hero-text {
    height: 100%;
    display: block;
    flex-direction: column;
    justify-content:unset;
  }
  .hero H1{
    margin-top:20%;
    font-size: 70px;
    font-weight: 600;
    line-height:60px;
    width: 100%;
    text-align: center;
    border-top: #32c8d9 5px solid;
    padding-top:60px;
  }
  .hero h1 span {
    font-size: 80px;
    color: #32c8d9;
    text-shadow: #0dccf7ad 0px 0px 420px ;
  
  }
  .hero p {
    margin:auto;
    margin-top: 10%;
    font-weight: 600;
    font-size: 18px;
    width:clamp( 300px,550px ,90%);
    text-align: justify;
  
    border-left: 5px #248ea6 solid;
    padding-left: 10px;
  }
  .sidec {
    position: absolute;
    top:unset;
    right: unset;
    left: 50%;
    bottom:3%;
    transform: translate(-50% , 0%  );
    background-color: #c4eaf2;
  
    height:50px;
    width: 50%;
  
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
  
    border-radius: 30px;
    color: #000000;
    transition: 700ms ease-out 200ms;

  
  }
  .sidec:hover {
    height:50px;
    width: 60%;
    transition: 300ms ease-out ;
    background-color: #fffdf2;
    box-shadow: 0px 0px 6px  #c4eaf270;
  }
} */