@import url("https://fonts.googleapis.com/css2?family=Inspiration&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* fonts::::  Montserrat ''''Inspiration    Rochester */
@import url("https://fonts.googleapis.com/css2?family=Rochester&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000000;
}
body {
  background-color: #fffdf2;
}

/* -------------------nav---------------------------- */
nav {
  color: #05080d;
  position: fixed;
  width: 100%;
  z-index: 10;

  display: flex;
  justify-content: end;
  align-items: center;
  background-color: #c4eaf2d5;
  height: 60px;
  backdrop-filter: blur(3px);
  /* box-shadow: #fffdf280 2px 0px 7px; */
}

.logo {
  margin-right: auto;
  margin-bottom: 9px;
  margin-left: 20px;
  font-family: Inspiration;
  font-size: 45px;
  transition: 0.4s ease;
  color: #05080d;
  /* text-shadow: 1px 3px 2px #05080D80; */
}

.logo:hover {
  text-shadow: 2px 6px 4px #05080d77;
}

nav li {
  display: inline;
  margin-right: 40px;
  font-family: Montserrat;
  font-weight: 550;
  transition: 0.5s ease;
}

nav li a:hover {
  border-bottom: 1px #05080d solid;
}

nav button {
  margin-right: 20px;
  /* width: 100px; */
  padding: 8px 25px;
  /* height: 40%; */
  border-radius: 8px;
  border: 1px #060b0c solid;
  font-family: Montserrat;
  font-weight: 700;
  /* background-color: #c4eaf2c5;  */
  color: #05080d;
}
nav button:hover {
  box-shadow: #33cdf096 0px -30px 36px -28px inset;
  /* font-weight:700 ; */
  /* color: #248EA6; */
  /* background-color: #c4eaf2;  */
}

header {
  background-color: #fffdf2;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}
/* ----------hero li blk7l -------------*/
.hero {
  margin-left: 15%;
  width: 100%;
  height: 60%;

  border-radius: 40px 0px 0px 40px;
  padding: 25px 20px;

  background-color: #05080d;
  box-shadow: #000000e1 0px 00px 25px;
  color: #c4eaf2;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.hero H1 {
  font-family: Montserrat;
  font-size: 90px;
  font-weight: 600;
  line-height: 60px;
}
.hero h1 span {
  font-size: 100px;
  color: #32c8d9;
}
.hero p {
  margin-left: 50px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  width: 500px;
  text-align: justify;

  border-left: 5px #248ea6 solid;
  padding-left: 8px;
}
/* ---------side cntact------------- */
.sidec {
  background-color: #c4eaf2;

  height: 55%;
  width: 50px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

  border-radius: 50px;
  color: #000000;
  transition: 500ms ease;
  /* text-shadow: #000000ce 0px 1px 3px; */
}
.sidec:hover {
  height: 70%;

  background-color: #fffdf2;
  box-shadow: #b0d6dfb9 0px 0px 3px;
}

.sidec i {
  transition: 0.6s ease;
  font-size: 30px;
}
.sidec i:hover {
  font-size: 38px;
  text-shadow: #00000070 0px 0px 5px;
}
/* ---------------------scroll------------------- */
.scroll {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #05080d;
  line-height: 25px;
  height: 40px;
}
.scroll h3 {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 550;
  text-shadow: 0px 0px 10px #00000091;
}
.scroll i {
  font-size: 40px;
  color: #05080d;
  text-shadow: 0px 0px 3px #1d1d1abb;
}
/* --------------------------about---------------------- */
.space {
  margin-top: 10%;
  padding: 10% 10px;
  background-color: #c4eaf2;
}
.aboutdiv {
  margin: auto;
  background-color: #05080d;
  box-shadow: #000000 0px 0px 10px;
  border-radius: 10px;
  border: solid rgba(0, 0, 0, 0.884) 1px;
  width: 80%;

  padding: 50px;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  grid-template-areas:
    "abouth2    abouth2     abouth2"
    "about-me   about-me    Education"
    "Skills     Experience  Experience";
}

.aboutdiv div {
  border-radius: 5px;
  padding: 20px 15px;
  font-family: Montserrat;
  /* font-weight:500; */
  color: #c4eaf2;
  /* background-color: #ff8800e5; */
  border: solid #32c8d9 2px;
}
.aboutdiv div h3 {
  /* background-color: #ff880009; */
  font-size: 25px;
  color: #248ea6;
  text-align: center;
  margin: 0px 10px 20px;
}
.aboutdiv div h4 {
  margin: 10px 0px 4px;
}
.aboutdiv div li {
  /* list-style: none; */
  margin-left: 35px;
  font-size: 15px;
}
.abouth2 {
  padding-bottom: 15px;
  text-align: center;
  grid-area: abouth2;
  color: #32c8d9;

  font-family: Montserrat;
  font-size: 50px;
  font-weight: 600;
}

.about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  font-size: 20px;
  line-height: 28px;
  grid-area: about-me;
}
.Education {
  grid-area: Education;
}
.Experience {
  grid-area: Experience;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
}
.Skills {
  grid-area: Skills;
}
/* --------------projicts---------------------- */
.projects {
  background-color: #c4eaf2;
  font-family: Montserrat;
  padding: 50px 0px;
  min-height: 100vh;
}
.projects h2 {
  padding:60px 0px 40px; 
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  color: #29a3b1;
}
.cards{
    /* background-color:#c4eaf2dc; */
    width:clamp(200px, 950px, 90%);
    margin:auto;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    grid-template-rows: repeat(auto,240px);
    place-items: center;
    gap:50px 30px;
    padding: 20px;
}
.cards div img{
    width: 100%;
    display: block;
    object-fit:cover;
}
.cards>div{
    position: relative;
    border: 2px solid #000000d7;
    overflow: hidden;

}
.cards div .cardinfo{
    display: flex;
    flex-direction: column;
    padding:0px 10px;

    height:100%;
    width:100%;
    
    background-color: #1c3c42;
    box-shadow:0px -5px 50px #000000e5;
    
    position: absolute;
    bottom:-80%;
    left:0px;

    transition: 700ms ease-in-out ;
}
.cards>div:hover .cardinfo{
    bottom:0;
    transition-delay: 300ms;
}

.cardinfo h3{
   
    padding:7% 20px ;
    width:fit-content;
    position:relative;

}
.cardinfo h3::after{
    content: "";
    position:absolute;
    bottom: 5px;
    left:0px;

    width:300px;
    height:5px;
    
    background-color: #c4eaf2;

    transform: translate(-110%);
    transition: 700ms ease ; 
}
.cards>div:hover .cardinfo h3:after{
    transform: translate(-40%);
    transition-delay:650ms ;

    background-color: #c4eaf2;
}

.cardinfo p{
     width:80%;
     margin: auto;
     border-left: solid 4px #040f11ec;
     padding-left:10px;
}
.cardinfo a{
    margin-top: auto;
    margin-bottom: 15%;
    padding:7px 10px;

    background-color: #040f11;
    color: #c4eaf2;
    font-weight: 600;

    transform: translateX(110%);
    transition: transform  700ms ease-in-out , letter-spacing 300ms ease-in ;

}
.cards>div:hover .cardinfo a{
    transform: translateX(40%);
    transition-delay: 1s ;
}
.cardinfo a:hover{
  letter-spacing:1px;
  transition-delay: 0s !important;
  
  
}
.cardinfo a i{
    transition: 300ms ease-in ;

}
.cardinfo a:hover i{
    padding-left:10px;
    
}









/* ```````````````````````````````````````````````````````````````````````````````` */
.contact {
  background-color: #05080d;
  margin-bottom: 50vh;
  /* padding: 20px; */
  font-family: Montserrat;
}
.clink {
  width:50%;
  padding:20px;
  background-color: #2d7f92;
}
.clink h2{
  font-size: 40px;
}
.clink p{
  font-size: 20px;
  width: 70%;
  margin:20px auto;
}
.clink a{
  background-color: #61acca;
  display: block;
  width:50%;
  margin: 10px auto;
  border: solid black 2px;
  
  /* padding-left: 5%; */
  font-size: 20px;
  transition: 500ms ease;
}
/* .clink a:hover{
  scale:1.1;
} */
.clink a:hover  .clink a i{

  background-color: #1c3c42   ;            
}
.clink a span{
  padding-left: 3%;
}
.clink a i{
  background-color: #141414;
  padding: 10px;
  width: 40px;
  text-align: center;
  color: #c4eaf2;
  
}



.form {
  border: solid 2px #060b0c;
  background-color: #05080d;

  width: fit-content;
  margin: 20px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding: 40px 30px 60px;
  gap: 15px;
}
.form * {
  display: block;
  padding: 10px;
  font-family: Montserrat;
  border-radius: 3px;
  outline: none;
  border: solid 2px #248ea6;
  background-color: #c4eaf2;
}
.form input {
  width: 300px;
}
.form textarea {
  height: 100px;
  max-height: 400px;
  font-size: 15px;
  max-width: 300px;
}
.form button {
  font-size: 15px;
  font-weight: 600;
  background-color: #248ea6;
}
.form h3 {
  /* all:unset; */
  text-align: center;
  background-color: unset;
  color: #c4eaf2;
  border: none;
  font-size: 35px;
  font-weight: 500;
  padding-bottom: 20px;
  text-shadow: 0px -10px 3px #10768b5b;
}
