@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* fonts::::  Montserrat ''''Inspiration    Rochester */
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: 0; 
    
}
a{
    text-decoration: none;
    color: #000000;
}
body{
   background-color:#FFFDF2 ;
}


/* -------------------nav---------------------------- */
nav{
    color: #05080D;
    position:fixed;
    width:100%;
    z-index: 10;
    
    display:flex;
    justify-content:end;
    align-items: center;
    background-color: #c4eaf2d5;
    height: 60px;
    backdrop-filter: blur(3px);
    /* box-shadow: #fffdf280 2px 0px 7px; */
}

.logo{
    margin-right:auto;
    margin-bottom: 9px;
    margin-left:20px;
    font-family: Inspiration;
    font-size:45px;
    transition: 0.4s ease;
    color: #05080D;
    /* text-shadow: 1px 3px 2px #05080D80; */

}

.logo:hover{
    text-shadow: 2px 6px 4px #05080d77;
}

nav li{
    display: inline;
    margin-right: 40px;
    font-family: Montserrat;
    font-weight:550 ; 
    transition: 0.5s ease;
}


nav li a:hover{
    border-bottom: 1px #05080D  solid;
}


nav button{
    margin-right: 20px;
    /* width: 100px; */
    padding:8px 25px;
    /* height: 40%; */
    border-radius:8px;
    border:1px #060b0c solid ;
    font-family:Montserrat ;
    font-weight:700 ;
    /* background-color: #c4eaf2c5;  */
    color: #05080D;
}
nav button:hover{
    box-shadow: #33cdf096 0px -30px 36px -28px inset;
    /* font-weight:700 ; */
    /* color: #248EA6; */
    /* background-color: #c4eaf2;  */
    

}

header{
    background-color:#FFFDF2 ;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items:center;


}
/* ----------hero li blk7l -------------*/
.hero{
 
    margin-left:15%;
    width: 100%;
    height: 60%;

    border-radius:40px 0px 0px 40px;
    padding:25px 20px;

    background-color: #05080D;
    box-shadow: #000000e1 0px 00px 25px;
    color: #C4EAF2;

    display: flex;
    justify-content: space-between;
    align-items: center;

} 
.hero H1{
    font-family:Montserrat;
    font-size: 90px;
    font-weight: 600;
    
} 
.hero h1 span{
    font-size:100px;
    color:#32C8D9;
}
.hero p{
    margin-top:30%;
    margin-left:50px;
    font-family:Montserrat;
    font-weight: 600;
    font-size:18px;
    width:500px;
    text-align: justify;
  
    border-left: 5px #248EA6 solid;
    padding-left:8px;
} 
/* ---------side cntact------------- */
.sidec{
    background-color:#C4EAF2;

    height: 50%;
    width:50px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    border-radius: 50px;   
    color: #000000;
    transition: 0.7s ease;
    /* text-shadow: #000000ce 0px 1px 3px; */
    

}
.sidec:hover{
    height: 60%;

    background-color:#FFFDF2;
    box-shadow: #b0d6dfb9 0px 0px 3px;
    
}

.sidec i{
    transition: 0.6s ease;
    font-size: 30px;
    
}
.sidec i:hover{
    font-size:38px;
    text-shadow: #00000070 0px 0px 5px;
}
/* ---------------------scroll------------------- */
.scroll{
position:absolute;
bottom:1%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
color:#05080D;
line-height: 25px;
height:40px;


}
.scroll h3{
    font-family:Montserrat;
    font-size:30px;
    font-weight: 550;
    text-shadow: 0px 0px 10px #00000091;
    
  
}
.scroll i{
   font-size: 40px;
   color:#05080D;
   text-shadow: 0px 0px 3px #ddb606;

}
/* --------------------------about---------------------- */
.space{
    margin-top: 10%;
    padding: 10% 10px;
    background-color:#C4EAF2;
   
}
.aboutdiv{

    margin:auto;
    background-color: #05080D;
    box-shadow: #000000 0px 0px 10px;
    border-radius:10px;
    border: solid rgba(0, 0, 0, 0.884) 1px;
    width:80%;

    padding:50px;
    display:grid;

    grid-template-columns:1fr 1fr 1fr;
    gap:30px;
    grid-template-areas:
    "abouth2    abouth2     abouth2"
    "about-me   about-me    Education"
    "Skills     Experience  Experience"
    ;

}  

.aboutdiv div{
    border-radius:5px;
    padding:20px 15px ;
    font-family: Montserrat;
    /* font-weight:500; */
    color: #C4EAF2;
    /* background-color: #ff8800e5; */
    border: solid #32C8D9 2px;

}
.aboutdiv div h3{
    /* background-color: #ff880009; */
    font-size:25px; 
    color: #248EA6;
    text-align: center;
    margin:0px 10px 20px ;
    
}
.aboutdiv div h4{
    margin:10px 0px 4px;
}
.aboutdiv div li{

    /* list-style: none; */
    margin-left:35px;
    font-size: 15px;
}
.abouth2{ 
        
        padding-bottom:15px;
        text-align: center;
        grid-area:abouth2 ;
        color: #32C8D9;
  
       
        font-family: Montserrat;
        font-size: 50px;
        font-weight: 600;
}

.about-me{
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: justify;
    font-size: 20px;
    line-height: 28px;
    grid-area:about-me ;
}
.Education{
    
    grid-area:Education;
   
}
.Experience{
    grid-area: Experience;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;

}
.Skills{
    grid-area: Skills;

}
/* --------------projicts---------------------- */
.projects{
    background-color: #05080D;
    font-family:Montserrat;
    padding:50px 10px;
    
}
.projects h2{
    
    /* padding-bottom:20px;  */
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    color:#32C8D9;
}

.cards div:hover .cardinfo{
    bottom:0%;
    left: 0;
    background-color: #c4eaf2bb;
    
    
}
.cards{
    
    border-radius:7px;
    background-color: #C4EAF2;
    max-width:1200px;
    width:80%;
    margin:80px auto;
    padding: 50px;
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(300px, 1fr));
    grid-template-rows: repeat(auto,300px);
    gap:50px 20px;
    place-items:center;
}
.cards>div{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.507);
    position: relative;
 width:300px;
 height: 300px;
 overflow: hidden;
 border-radius:3px;
}
.cards div img{
    width:100%;
}

.cardinfo{
    display: flex;
    flex-direction: column;
    align-items: center; 
  
    gap:20px;
    padding: 0px 20px 20px;

   box-sizing: border-box;
    background-color: #C4EAF2;
    color: #FFFDF2;
    width:300px;
    height:100%;
    position: absolute;
    bottom:-80%;
    left: 0;
    transition:;
    transition: bottom 500ms ease-in-out , background-color 700ms ease-in-out;
    backdrop-filter: blur(6px);

    
}

.cardinfo button{
    position: absolute;
    bottom:30px;
    padding:10px;
    width:50%;
    border-radius:10px;
    border: 2px solid #05080D;
    background-color: #248EA6;
    color: #C4EAF2;
    font-family: monospace;
    font-weight: 700;
    font-size: 15px;
    
}
.cardinfo h3{
   padding:8% ;
   text-align: center;
   background-color: #000000;
   width: 100%;
   color: #C4EAF2;
}
.cardinfo p{
    color: #05080D;
    font-weight: 600;
}
/* ```````````````````````````````````````````````````````````````````````````````` */
.contact{
    /* display: flex; */
    background-color: #ddb606;
    margin-bottom:50vh ;
    padding: 20px;
   
}
.clink{
    flex: 1;
    background-color: #248EA6;
}
.form{
border:solid 2px #060b0c;
background-color:#05080D ;

width:fit-content;
margin:20px auto;
border-radius:10px;
display: flex;
flex-direction: column;
/* justify-content: center; */
padding:40px 30px 60px;
gap:15px;

}
.form *{
    display: block;
    padding: 10px;
    font-family: Montserrat;
    border-radius: 3px;
    outline: none;
    border: solid 2px #248EA6;
    background-color: #C4EAF2;
    
}
.form input{
    width: 300px;
}
.form textarea{
    height:100px;
    max-height:400px;
    font-size: 15px;
    max-width: 300px;

    
}
.form button{
    font-size: 15px;
    font-weight: 600;
    background-color: #248EA6;
}
.form h3{
    /* all:unset; */
    text-align: center;
    background-color: unset;
    color:#C4EAF2;
    border: none;
    font-size: 35px;
    font-weight: 500;
    padding-bottom:20px;
    text-shadow: 0px -10px 3px #10768b5b;
}
